
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h1>Shop</h1>
    </div>
    <div class="col-md-4">
        <div class="simple-box box-green">
            <div class="box-content">
                <div class="box-text">
                    <p>High Tech</p>
                </div>
                <div class="box-image">
                    <i class="fa fa-fw fa-shopping-cart"></i>
                </div>
            </div>
            <a href="@Url.Action("HighTech", "Shop")" class="box-link">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="simple-box box-green">
            <div class="box-content">
                <div class="box-text">
                    <p>Clothing</p>
                </div>
                <div class="box-image">
                    <i class="fa fa-fw fa-shopping-cart"></i>
                </div>
            </div>
            <a href="@Url.Action("Clothing", "Shop")" class="box-link">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="simple-box box-green">
            <div class="box-content">
                <div class="box-text">
                    <p>Cosmetics</p>
                </div>
                <div class="box-image">
                    <i class="fa fa-fw fa-shopping-cart"></i>
                </div>
            </div>
            <a href="@Url.Action("Cosmetics", "Shop")" class="box-link">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>

