@{
    ViewBag.Title = "Index";
}
<style>
    #taskCreate label {
        padding-top: 5px;
    }

    .modal-content {
        float: left;
    }

    .modal-dialog-height,
    .modal-content-height {
        height: auto;
    }

    .modal-dialog-width {
        width: 800px !important;
    }

    .modal-backdrop {
        z-index: 1000 !important;
    }

    .modal-body > col-md-12 {
        margin-bottom: 15px;
    }
</style>

<div class="container">
    <h2>Report</h2>
    <button class="btn btn-primary add-employee">Add new Employee</button>
</div>

<!-- Task Create popup -->
<div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-height modal-dialog-width">
        <div class="modal-content modal-content-height">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create new task (No validate)</h4>
            </div>

            <div class="modal-body">
                <form action="@Url.Action("Insert","NttEmployee")" method="post" id="new-emp-form">
                    <div class="col-md-12 no-padding float-left">
                        <div class="col-md-3">
                            <label class="text-bold">Name :</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="Name" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <span></span>
                        </div>
                    </div>

                    <div class="col-md-12 no-padding float-left margin-top-10">
                        <div class="col-md-3">
                            <label class="text-bold">Name in Japan :</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="NameJp" class="form-control" />
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="col-md-12 no-padding float-left margin-top-10">
                        <div class="col-md-3">
                            <label class="text-bold">Day of birth</label>
                        </div>
                        <div class="col-md-5">
                            <input type="date" name="DayOfBirth" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-md-12 no-padding float-left margin-top-10">
                        <div class="col-md-3">
                            <label class="text-bold">Gender</label>
                        </div>
                        <div class="col-md-5">
                            <label>
                                <input type="radio" name="Gender" value="1" />
                                Male
                            </label>
                            <label>
                                <input type="radio" name="Gender" value="0" />
                                Female
                            </label>
                        </div>
                        <div class="col-md-4">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-md-12 no-padding float-left margin-top-10">
                        <div class="col-md-3">
                            <label class="text-bold">Note</label>
                        </div>
                        <div class="col-md-5">
                            <textarea class="form-control" name="Note"></textarea>
                        </div>
                        <div class="col-md-4">
                            <span></span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer float-left col-md-12">
                <button type="button"
                        class="btn btn-success btn-submit">
                    Create
                </button>
                <button type="button"
                        class="btn btn-default"
                        data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.add-employee').click(function () {
            $('#addUser').modal('show');
        });


        $('.btn-submit').click(function () {

            $('#new-emp-form').submit();
        });

    });
</script>